[Desktop Entry]
Version=1.0
Type=Application
Name=Clipman
Comment=Clipboard History Manager – background service
Exec=clipman
Icon=edit-paste
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
