[Desktop Entry]
Name=Clipped
Comment=Native Linux Clipboard Manager with Real System Integration
Exec=/home/dumb/Downloads/Code/clipped/node_modules/.bin/electron /home/dumb/Downloads/Code/clipped
Icon=/home/dumb/Downloads/Code/clipped/assets/note.png
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=false
X-GNOME-Autostart-enabled=true
Hidden=false